header {
    background-color: #333;
    color: #fff;
    display: flex;
}

header h1 {
    width: 100%;
}

nav {
    display: flex;
    justify-content: right;
    width: 100%;
}

.work {
    display: flex;
    flex-direction: row;

}

section {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.work {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#section1 {
    width: 20%;
}

#section2 {
    width: 80%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about-me img {
    width: 20%;
}

.card-top img {
    width: 100%;
}

.card-bottom img {
    width: 48%;
    margin-bottom: 10px;
}

#contactSection {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#contactSection * {
    margin-right: 2em;
}
